{% extends 'base.html' %}

{% block title %}
Cancel/subscription
{% endblock %}

{% block content %}
<div class="ex-form-1 pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 offset-xl-2">
<h2>Click the button below to cancel your subcription.</h2>
<form action="" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-lg btn-primary" value="Cancel subscription">
</form>
</div>
</div>
</div>
{% endblock %}
