{% extends 'base.html' %}
{% load static %}
{% block title %}
Charge Page
{% endblock %}
{% block content %}

<div class="ex-form-1 pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <div id="left-wrapper">
          <!-- Add form here -->
          <div class="jumbotron jumbotron-fluid">
            <div class="container ml-3">
              <h2>Please Note:</h2>
              <p> - You are not going to be charged until the end of your trial period</p>
              <p> -You are free to cancel your subscription anytime.</p>
              <p> - You are not going to be charged until the end of your trial period</p>
            </div>
          </div>
          {% if request.user.subscription.subscribed %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <b>USER: {{request.user}} has an active subscription </b>
            <p> You cannot make another subscription as you have an active subscription.</p>

          </div>
          {%else %}
          <form action="{% url 'charge' %}" method="post" id="payment-form">
            {% csrf_token %}
            <div class="form-group">
              <label for="card-element">Credit or debit card</label>
              <div id="card-element" class="form-control" style='height: 3em; padding-top: 1.0em;'>
                <!-- A Stripe Element will be inserted here. -->
              </div>
            </div>

            <!-- Used to display form errors. -->
              <div id="card-errors" role="alert"></div>

            <input class="myButton btn btn-md btn-primary btn-block" type="submit" value="Make Payment" name="">
          </form>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/charge.js' %}"></script>
  {% endblock content %}