<div class="jumbotron jumbotron-fluid pl-5">
    <h1 class="display-4">Aben</h1>
    <p class="lead">This is a simple website that allows a user to manage subscriptions using Stripe and Python Django 3.</p>
    <hr class="my-4">
    <p>Developed using Python Django, Stripe and Bootstrap.</p>
    {% if request.user.is_authenticated %}
    <a class="btn btn-primary btn-lg" href="{% url 'subscribe' %}" role="button">Get Started</a>
    {% else %}
    <a class="btn btn-primary btn-lg" href="{% url 'django_registration_register' %}" role="button">Get Started</a>
    {% endif %}
    
  </div>