{% url 'home' as home %}
{% url 'subscribe' as subscribe %}
{% url 'subscribe_success' as subscribe_success %}
{% url 'cancel_subscription' as cancel_subscription %}
{% url 'login' as login %}
{% url 'logout' as logout %}
{% url 'django_registration_register' as register %}


<nav class="navbar navbar-expand-lg navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Aben</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == home %}active{% endif %}">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      
      {% if request.user.is_authenticated %}
      <li class="nav-item {%if request.path == subscribe %} active {% endif %}">
        <a class="nav-link" href="{% url 'subscribe' %}">Subscribe</a>
      </li>
      <li class="nav-item {% if request.path == cancel_subscription %} active {% endif %}">
        <a class="nav-link" href="{% url 'cancel_subscription' %}">Cancel</a>
      </li>
    </ul>
    <ul class="navbar-nav mr">
    <li class="nav-item {% if request.path == logout %} active {% endif %}">
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
    {% if request.user.subscription.subscribed or request.user.subscription.trial%}
    <li class="nav-item active">
      <a class="nav-link" disabled><i class="fa-solid fa-medal"></i></a>
    </li>
    {% endif %}
  </ul>
      {% else %}
      <li class="nav-item {%if request.path == login %} active {% endif %}">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
      </li>
      <li class="nav-item {% if request.path == register %} active {% endif %}">
        <a class="nav-link" href="{% url 'django_registration_register' %}">Register</a>
      </li>
      {% endif %}
        
      
    
  </div>
</nav>