{% extends 'base.html' %}
{% block title %}
Subscription Page
{% endblock %}
{% block content %}

<form action="" method="post">
    {% csrf_token %}
<h2 class="text-center">SignUp for Free 7 days Premium Trial</h2>
<div class="col-md-8 offset-md-2">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h3 class="text-center my-0 fw-normal">Premium Access, Cancel Anytime</h3>
          </div>
          <div class="card-body">
            <h1 class="text-center card-title pricing-card-title">${{ amount }}<small class="text-muted fw-light">/mo</small></h1>
            <ul class="text-center list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <input type="submit" value='Try PRO for Free 7 days.' class="w-100 btn btn-lg btn-primary">
          </div>
        </div>
      </div>
</form>
{% endblock %}