{% extends 'base.html' %}

{% block title %}
Subscription Success
{% endblock %}

{% block content %}
    <p>You are now subscribed for the Membership. you have a Free 7 days trial period, which you can cancel out anytime
    before the 7th day.</p><p> Your account is going to be
    charged after the 7th day.</p>
<a class="btn btn-primary" href="{% url 'home' %}">Go back Home</a>
{% endblock %}
