{% extends 'base.html' %}

{% block title %}Registration{% endblock title %}

{% block content %}
<div class="ex-form-1 pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <h4>Already have an account
        <a class="button secondaryAction" href="{% url 'login' %}"> Log In</a></h4><hr>

        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for field, error in form.errors.items %}
            <b> {{forloop.counter}}. {{field }} {{ error|striptags }}</b><br>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    {% endif %}


        <form method="post">
          {% csrf_token %}
            <p>{{form.username}}</p>
            <p>{{form.email}}</p>
            <p> {{form.password1}}</p>
            <p>{{form.password2}}</p>

          <input type="submit" value="Submit" class="btn btn-primary" />
        </form>

      </div>
    </div>
  </div>

{% endblock content %}
<!--Username: {{request.user.username}}-->
