{% extends 'base.html' %}
{% block title %}
HomePage
{% endblock %}
{% block content %}
<div class="ex-form-1 pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 offset-xl-2">

        </div>
    </div>
</div>
{% endblock %}
