{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block content %}

<div class="ex-form-1 pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 offset-xl-3">
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {% for field, error in form.errors.items %}
          <b> {{forloop.counter}}. {{field }} {{ error|striptags }}</b><br>
          {% endfor %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}

        <h4>Don't have an Account?
          <a class="button secondaryAction" href="{% url 'django_registration_register' %}">Sign Up</a></h4>
        <hr>

        <form action='{% url 'login' %}' method="post">
          {% csrf_token %}
          <p>{{ form.username }}</p>
          <p>{{ form.password }}</p>
          <input type="hidden" name="next" value="{{ request.GET.next }}" />
          <input type="submit" class='btn btn-primary' value="Submit" />
        </form>
        <hr>
        <a class="button secondaryAction" href="{% url 'password_reset' %}">Forgot Password?</a>
      </div>
    </div>
  </div>
  {% endblock %}