{% extends 'base.html' %}

{% block title %}Logout{% endblock title %}

{% block content %}
<div class="ex-form-1 pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
            <h3>Are you sure you want to Logout?</h3>
        <form action="" method="post">
            {% csrf_token %}

            <input type="submit" value="Log out" class='btn btn-primary'>
        </form>
      </div>
    </div>
</div>

{% endblock %}